.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: burlywood;
    padding: 10px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.bloco-1 {
    background-color: aqua;
    padding: 10px;
    width: 20px;
}

.bloco-2 {
    background-color: rgb(115, 32, 209);
    padding: 10px;
    width: 20px;
}

.bloco-3 {
    background-color: rgb(224, 52, 224);
    padding: 10px;
    width: 20px;
}